<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="fileSystemSection"
		         type="FileSystemWatcher.UI.Configuration.FileSystemWatcherSection, FileSystemWatcher.UI"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<fileSystemSection culture="en-US">
		<directories>
			<directory path="D:\Test"/>
			<directory path="D:\Test2"/>
		</directories>
		<rules defaultDirectory="D:\Test\Default">
			<rule searchTemplate=".docx" isDateRequired="true" isNumberRequired="false" destinationDirectory="D:\Test\Default\DocxFolder"/>
			<rule searchTemplate=".pdf" isDateRequired="true" isNumberRequired="true" destinationDirectory="D:\Test\Default\PdfFolder"/>
			<rule searchTemplate="^ab\w*" isDateRequired="true" isNumberRequired="true" destinationDirectory="D:\Test\Default\ABFolder"/>
		</rules>
	</fileSystemSection>
</configuration>