<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="fileSystemSection"
		         type="FileSystemWatcher.Configuration.FileSystemWatcherSection, FileSystemWatcher"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<fileSystemSection culture="en-US">
		<directories>
			<directory path="D:\Test"/>
		</directories>
		<destinations defaultDirectory="D:\Test\Default">
			<destination searchTemplate=".docx" isDateRequired="true" destinationDirectory="D:\Test\DocxFolder"/>
			<destination searchTemplate=".pdf*" isNumberRequired="true" destinationDirectory="D:\Test\PdfFolder"/>
		</destinations>
	</fileSystemSection>
</configuration>