<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	<section name="fileSystemSection" type="FileSystemWatcherLogic.Configuration.FileSystemWatcherSection, FileSystemWatcherLogic.Services.FileWatcher"/>
  </configSections>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <fileSystemSection culture="en-US">
	<directories>
	  <directory path="D:\Downloads"/>
	</directories>
	<destinations defaultDirectory="D:\Test">
	  <destination searchTemplate=".\.txt"  isDateRequired="true" destinationFolder="D:\Txt"/>
	  <destination searchTemplate=".\.docx" isNumberRequired="true" destinationFolder="D:\Docx"/>
	</destinations>
  </fileSystemSection>
</configuration>